In [3]:
import mysql.connector

In [4]:
import mysql.connector as mysql

In [14]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Jesus123*",
    database = "Joshuabill")

In [8]:
mycursor = db.cursor()
mycursor.execute("Create database JoshuaBill")

In [15]:
mycursor.execute("Create table employee(name varchar(200), sal int(20))")

ProgrammingError: 1046 (3D000): No database selected

In [ ]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Jesus123*",
    database = "Joshuabill")

In [9]:
mycursor.execute("Show databases")
for data in mycursor:
    print(data)

('information_schema',)
('joshuabill',)
('mysql',)
('performance_schema',)
('sys',)

In [16]:
import mysql.connector

In [19]:
mydb = mysql.connector.connect(host="localhost", user="root", passwd ="Jesus123*", database = "JoshuaBill")
mycursor= mydb.cursor()
mycursor.execute("Create table employee (name varchar(200), sal int(20))")

In [20]:
mydb = mysql.connector.connect(host="localhost", user="root", passwd ="Jesus123*", database = "JoshuaBill")
mycursor= mydb.cursor()
mycursor.execute("Show tables")
for tb in mycursor:
    print(tb)

('employee',)

In [22]:
mydb = mysql.connector.connect(host="localhost", user="root", passwd ="Jesus123*", database = "JoshuaBill")
mycursor= mydb.cursor()
sqlform = ("Insert into employee(name,sal) value(%s,%s)")
employee = [("Joshua", 33999), ("Nikha",34888),("sulla", 68303), ]
mycursor.executemany(sqlform, employee)
mydb.commit()

In [23]:
mycursor.execute("Select * from employee")
myresult = mycursor.fetchall()
for row in myresult:
    print(row)

('Joshua', 33999)
('Nikha', 34888)
('sulla', 68303)

In [24]:
mycursor.execute("UPDATE employee SET sal = 70000 WHERE name ='Joshua'")
mydb.commit()

In [26]:
mycursor.execute("Select* from employee")
myresult =mycursor.fetchall()
for row in myresult:
    print(row)

('Joshua', 70000)
('Nikha', 34888)
('sulla', 68303)

In [27]:
mycursor.execute("DELETE FROM employee WHERE name ='Nikha'")
mydb.commit()

In [28]:
mycursor.execute("Select* from employee")
myresult =mycursor.fetchall()
for row in myresult:
    print(row)

('Joshua', 70000)
('sulla', 68303)